body{
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
}
.grid-container {
    display: grid;
    column-gap: 50px;
    row-gap: 30px;
    grid-template-columns: auto auto auto;
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    padding: 20px;
    height: 500px;
  }
  
  .grid-item{
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    padding: 20px;
    color:rgb(55, 218, 255);
    bottom: 5px;
    top: 5px;
    font-size: 30px;
    text-align: center;
    
  }

  .grid-container :hover{
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
    color: rgb(173, 255, 193);
    padding: 20px;
    bottom: 5px;
    top: 5px;
    font-size: 30px;
    text-align: center;
  }
  a:link, a:visited {
    text-align: center;
    text-decoration:wavy;
    display:grid;
    color:currentColor;  }
a:active, a:hover {
        text-align: center;
        text-decoration:wavy;
        display:grid  }